html{

}
body{
  margin:0;
}
.wrapper{
  height:91vh;
  display:grid;
  grid-template-columns: [first]100%;
  grid-template-areas:
    "lang-switcher"
    "slide-1"
    "slide-2"
    "slide-3"
    "slide-4"
    "slide-5";
    background-image: url(../img/bg/projector.png), url(../img/bg/bg4.jpg);
    background-size: auto 70%, cover; /* Масштабируем фон */
    background-position: left top, center;
    background-repeat:no-repeat;
    padding: 10px;
    overflow: scroll;
}
footer{
  grid-area: my-footer;
}
.slide{
  // background-image: url(../img/main/filmstrip-transparent-item1.png);
  // background-size: auto 100%; /* Масштабируем фон */
  // background-repeat:no-repeat;
  position:relative;
  height:100%;
  justify-self:center;
  cursor:pointer;
  margin-bottom:200px;

.content{
  // padding-top:80px;
  // padding-left: 5px;
}
  }

.slide-img{
  width: 70vw;
  height:auto;
  border-radius:0.5rem;
}
    .img-wrapper{
      width: 72vw;
      border-radius:1.5rem;
      position: absolute;
    }

  @for $i from 1 through 5{
    .slide-#{$i}{
      grid-area:slide-#{$i};
    }
  .slide-#{$i}:hover{
    transform: rotate(0deg);
    }
  }
  .lang-switcher{
    grid-area:lang-switcher;
    grid-column-start: 1;
    grid-column-end: 4;
    height:200px;
    padding-top:60px;
    padding-bottom:60px;
  }
  .content{
    height:100%;
    // background-size: auto 100%;
    // background-repeat:no-repeat;
  }
  // @for $i from 1 through 5{
  //   .content-#{$i}{
  //       background: url(img/#{$i}.png);
  //   }
  // }
  .slide-modal{

    height:100%;
    transition:         transform .8s ease-in-out;
  }
  footer{
    text-align:center;
    padding-top:60px;
    font-size: 2rem;
  }
/* #### Desktops #### */
@media screen and (min-width: 1024px){
  body{
    background-image: url(../img/bg/projector.png),url(../img/bg/filmstrip-object.png), url(../img/bg/bg4.jpg), ;
    background-size: auto 70%, auto 50%, cover; /* Масштабируем фон */
    background-position: left top, right bottom, center, ;
    background-repeat:no-repeat;
  }
  /* some CSS here */
  .wrapper{
      grid-template-columns: [first]20% [second]20% [third]20% [fourth]20% [fifth]20%;
      grid-template-rows: [first]17% [second]17% [third]17% [fourth]17% [fifth]17%;
      grid-template-areas:
        "lang-switcher . . . slide-5"
        ". . . slide-4 . "
        ". . slide-3 . ."
        ". slide-2 . . ."
        "slide-1 . . . .";
        background: none;
      // background-image: url(../img/bg/projector.png),url(../img/bg/filmstrip-object.png), url(../img/bg/bg4.jpg), ;
      // background-size: auto 70%, auto 50%, cover; /* Масштабируем фон */
      // background-position: left top, right bottom, center, ;
      // background-repeat:no-repeat;
      padding: 10px 10px 10px 10px;
      overflow: hidden;
}
.slide{
  // background-image: url(../img/main/filmstrip-transparent-item1.png);
  // background-size: auto 100%; /* Масштабируем фон */
  // background-repeat:no-repeat;
  height:150%;
  justify-self: stretch;
  transform: rotate(-30deg);
  transition:         transform .8s ease-in-out;
  cursor:pointer;

.content{
  // padding-top:29px;
  // padding-left: 5px;
}
img{
  // width: 230px;
  width: 180px;
  height:auto;
  border-radius:0.5rem;
    }
  }

  .lang-switcher{
    padding-top:10px;
  }
  footer{
    padding-top:5px;
    font-size: 1em;
  }
}
footer{
  font-family:'Comfortaa', regular;
}
